{% extends 'base.html.twig' %}

{% block title %}Ocurrió un error: {{ status_code }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/page_404_error.css') }}">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Error {{ status_code }}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('inicio') }}">Inicio</a></li>
                <li class="active">Error {{ status_code }}</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container content">
        <!--Error Block-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-v1">
                    <span>¡Ocurrió un error!</span>
                    <span class="error-v1-title">{{ status_code }}</span>
                    <p>
                        {% block mensaje %}
                            No tenemos información de este error.
                        {% endblock %}
                    </p>
                    <a class="btn-u btn-bordered" href="{{ path('inicio') }}">Regresar al Inicio</a>
                </div>
            </div>
        </div>
        <!--End Error Block-->
    </div>
{% endblock %}